<a href="https://colab.research.google.com/github/jh941213/jh941213/blob/main/KOSPI200%ED%81%AC%EB%A1%A4%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#kospi 200 차트
#일별시세 첫페이지 가져오기

import requests 
from bs4 import BeautifulSoup
import pandas as pd

#일별시세 목록
date, price, befores, per, volume, vprice = [], [], [], [], [], []
finance={'날짜':date,
         '가격':price,
         '전일비':befores,
         '등락률':per,
         '거래량':volume,
         '거래대금':vprice}

url = 'https://finance.naver.com/sise/sise_index_day.naver?code=KPI200&page=1'

resp = requests.get(url)
resp

#select

soup=BeautifulSoup(resp.content,'lxml')
date_tags=soup.select('td.date')
price_tags=soup.select('td.number_1')[::4]
before_tags=soup.select('td.number_1')[1::4]
per_tags=soup.select('td span.tah.p11')
volume_tags=soup.select('td.number_1')[2::4]
vprice_tags=soup.select('td.number_1')[3::4]

len(before_tags),len(per_tags),len(volume_tags),len(vprice_tags)

#데이터확인

for i in range(len(date_tags)):
    date.append(date_tags[i].text)
    price.append(price_tags[i].text)
    before = before_tags[i].text.strip()
    if before_tags[i]['class'][-1] == 'nv01':
        before=f'-{before}'
    befores.append(before)
    per.append(per_tags[i].text.strip())
    volume.append(volume_tags[i].text)
    vprice.append(vprice_tags[i].text)

finance
#데이터프레임화
kospi200 = pd.DataFrame(finance)

kospi200

           날짜      가격     전일비     등락률      거래량       거래대금
0  2022.10.31  297.28  +0.75%    2.22   30,059  1,537,393
1  2022.10.28  295.06  -1.26%  +0.75%  131,077  6,484,976
2  2022.10.27  298.82  +1.69%    3.76  176,203  6,808,554
3  2022.10.26  293.85  +0.78%  -1.26%  122,301  5,868,014
4  2022.10.25  291.58  +0.04%    4.97  116,351  5,506,858
5  2022.10.24  291.47  +1.00%  +1.69%  116,175  5,372,980

In [ ]:
#맨끝페이지 가져오는 방법
#맨뒤 버튼의 href를 가져오면 가능하다
url= 'https://finance.naver.com/sise/sise_index_day.naver?code=KPI200&page=1'

resp = requests.get(url)
soup = BeautifulSoup(resp.content,'lxml')
pgRR_tags = soup.select('td.pgRR a')
pgRR_href = pgRR_tags[0]['href']
lastpg= int(pgRR_href.split('=')[-1])
lastpg

693